.app {
    padding: 20px;
    margin: 0px;
}

.app-buttonsubmit {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}
.app-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app-container .MuiBox-root {
    padding: 0px;
}
